<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ head | safe }}
    <!-- prevent svg text from being selectable-->
    <style>
        svg text {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    </style>
</head>

<body>
    {{ body | safe }}

    <!-- Render the SVG here -->
    <div id="svg-container">
        <svg id="root" xmlns="http://www.w3.org/2000/svg" width="200" height="100" version="1.1">
            <text x="10" y="50" style="font-size:30px; font-family:Arial"> PLACE HOLDER </text>
        </svg>
    </div>

    <script type="module">
        // here we connect to the matbii web server via web sockets
        import { WebSocketModule } from '/static/star_ray/websocket.js';
        // this should automatically add a listener to the websocket which will update the `svg-container` element
        import { SVGSocketModule } from '/static/svgsocket.js';

        document.addEventListener("DOMContentLoaded", function () {
            const host = window.location.host;
            const token = new Date().getTime() + "_" + Math.random().toString(36).substring(2, 15);
            WebSocketModule.connect(host, token);
            //WebSocketModule.onMessage(console.log) // TODO just log the message for now...
        });
    </script>
</body>

</html>